{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
